# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/src/mednafen*
!/src/mednafen*.*
*.o
*.o2
*.a
.Tpo
.deps
.dirstamp
/include/config.h.in~
/autom4te.cache
/Makefile
/config.log
/config.status
/include/config.h
/include/minilzo/
/include/stamp-h1
/include/trio/
/include/zstd/
/intl/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
/src/Makefile
/src/drivers/Makefile
/src/drivers_dos/Makefile
/src/drivers_libxxx/Makefile
/src/sexyal/Makefile
/src/ss/Makefile

