# Build system files
/Makefile
/CMakeLists.txt
/config.log
/config.status
/configure~
/autom4te.cache/

# Build artifacts and temporary files
*.d
**/*.o
*.o2
*.slo
*.lo
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.mod
*.smod
*.exe
*.out
*.app
.Tpo
.deps/
.dirstamp
**/.deps/
**/.dirstamp

# Binary and output directories
/bin/

# Generated headers and external libraries
/include/config.h
/include/config.h.in~
/include/stamp-h1
/include/minilzo/
/include/trio/
/include/zstd/

# Mednafen specific
/src/mednafen*
!/src/mednafen*.*

# Generated makefiles
/intl/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
/src/Makefile
/src/drivers/Makefile
/src/drivers_dos/Makefile
/src/drivers_libxxx/Makefile
/src/sexyal/Makefile
/src/ss/Makefile
confdefs.h
conftest.cpp
conftest.err

